/*
 General
===============================================================
*/
body{
    background-color: #1e2e3d;
}
#site{
    max-width: 1210px;
    margin: 0 auto;
}
/*
scrollbar
===============================================================
*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
}

::-webkit-scrollbar-button:vertical:increment {
    background-color: #fff;
}
::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}
/*
Header + Menu
===============================================================
*/

#header{
    width: 100%;
    margin-top:40px;
}

.btn-color{
    background-color: #243d54;
}
.btn-color:hover{
    background-color: #f01f4b;
}
.w-max{
    width: 100%;
}
.table-clear{
    background: none;
    border: none;
    margin : 0px;
    padding : 0px;
}
.table-clear td{
    margin : 0px;
    padding : 0px;
}
.header-border-menu{
    background-color: #243d54;
    border-bottom: 5px solid #1e2e3d;
    width:10%;
    height: 60px;
    font-size: 18px;
    color: #fff;
    transition: background-color 300ms ease-out;
    text-align: center;
    cursor: pointer;
}
.header-border-menu-spacer{
    background-color: #243d54;
    border-bottom: 5px solid #1e2e3d;
    width:40%;
}
.header-border-menu:hover{
    border-bottom: 5px solid #2c4a66;
    background-color: #345778;
}
.header-border-menu-active{
    background-color: #f01f4b;
    border-bottom: 5px solid #d70615;
    width:10%;
    height: 60px;
    font-size: 18px;
    color: #fff;
    transition: background-color 300ms ease-out;
    text-align: center;
    cursor: pointer;
}
#header-login div{
    text-align: left;
}
#header-login-menu{
    display: none;
    position: absolute;
    top:60px;
    right: 15px;
    z-index: 1;
}

#header-login-menu div{
    background-color: #243d54;
    color:white;
    margin:0;
    width: 220px;
}
#header-login-menu div:hover{
    background-color: #345778;
}
#header-login-menu i{
    color:white;
}
#breadcrumbs{
    height: 45px;
    background-color: #ebebeb;
    padding-top: 12px;
    padding-left: 20px;
    color: #d3d3d3;
    font-size:12px;
}
#breadcrumbs a{
    font-size:15px;
    padding-left: 5px;
    padding-right: 5px;
}
/*
Container
===============================================================
*/
#container{
    margin-left:0px;
    margin-right: 0px;
    background-color: #f5f5f5;
}
#container-left{
    padding-top:20px;
    padding-bottom:20px;
}
#container-right{
    padding-top:20px;
    padding-bottom:20px;
}
.forum-index{
    width: 100%;
    margin-bottom:20px;
}
.forum-index .forum-header{
    background-color: #243d54;
    height: 50px;
    color: #7497b8;
}
.forum-index td{
    padding-left:20px;
    height: 90px;
    border-bottom:1pt solid #ebebeb;
}
.forum-index .forum-header a{
    color:#f5f5f5;
}
.forum-index tr:nth-of-type(even){
    background-color: #fff;
}
.forum-index tr{
    background-color: #fff;
}
#container-spacer{
    margin-left:0px;
    margin-right: 0px;
    background-color: #1e3449;
    height: 5px;
}
/*
===============================================================
*/
.topic-new{
    background-image: url(../../img/topic_new.png);
    display: inline-block;
    width: 34px;
    height: 35px;
}
.topic-old{
    background-image: url(../../img/topic_old.png);
    display: inline-block;
    width: 34px;
    height: 35px;
}
.topic-important{
    background-image: url(../../img/topic_important.png);
    display: inline-block;
    width: 34px;
    height: 35px;
}

.topic-lock-new{
    background-image: url(../../img/cadenas_vert.png);
    display: inline-block;
    width: 34px;
    height: 35px;
}
.topic-lock-old{
    background-image: url(../../img/cadenas_gris.png);
    display: inline-block;
    width: 34px;
    height: 35px;
}
.topic-lock-important{
    background-image: url(../../img/cadenas_orange.png);
    display: inline-block;
    width: 34px;
    height: 35px;
}
.topic-redirect{
    background-image: url(../../img/topic_redirect.png);
    display: inline-block;
    width: 34px;
    height: 35px;
}

/*
footer
===============================================================
*/
#footer-menu{
    margin-left:0px;
    margin-right: 0px;
    background-color: #243d54;
    height: 220px;
    color:#f5f5f5;
}
#footer-menu div{
    padding:30px;
    padding-bottom:0px;
}
#footer-menu h4{
    color: #7497b8;
}
#footer-menu li{
    font-size:14px;
}
#footer-menu a{
    color:#f5f5f5;
}
#footer-menu span{
    color:#7497b8;
    padding-right: 10px;
}
#footer-reference{
    margin-left:0px;
    margin-right: 0px;
    padding-top:12px;
    background-color: #2c4a66;
    height: 75px;
    margin-bottom: 40px;
    color:#f5f5f5;
}
#medialink{
    text-align:right;
    font-size: 32px;
}
#medialink span{
    color: #7497b8;
    transition: color 300ms ease-out;
}
#medialink span:hover{
    color: #f5f5f5;
    cursor: pointer;
}
/*
LOGIN
===============================================================
*/
.auth-plain {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
}

.left-solid {
    margin-top: 0px;
    margin-bottom: 0px;
}

.signup-panel {
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #fff;
}

.signup-panel a{
    color: #fff;
}

.signup-panel i {
    font-size: 30px;
    line-height: 50px;
    color: #999;
}
.signup-panel form input, .signup-panel form span {
    height: 50px;
}
.signup-panel .welcome {
    font-size: 26px;
    text-align: center;
    margin-left: 0;
}
.signup-panel p {
    font-size: 13px;
    font-weight: 200;
    text-align: center;
}
.signup-panel .button {
    margin-left: 35%;
}

.newusers {
    background: #fff;
}
/*
erreur page
===============================================================

*/
#erreur-container{
    margin-left:0px;
    margin-right: 0px;
    background-color: #f5f5f5;
    text-align: center;
    padding-bottom: 50px;
}
.erreur-logo{
    width:289px;
    height: 274px;
    background-image: url(../../img/500_icon.png);
    display: inline-block;
    margin-top:20px;
}
/*
categorie
===============================================================
*/
#categorie{
    margin-left:0px;
    margin-right: 0px;
    background-color: #f5f5f5;
    padding:15px;
    padding-top:20px;
}
.categorie-btn{
    background-color: #243d54;
    color: #fff;
    transition: background-color 300ms ease-out;
}
.categorie-btn:hover{
    background-color: #f01f4b;
}
/*
topic
===============================================================
*/
.topic-principal{
    background-color: #fff;
    width: 100%;
    margin-bottom:10px;
}
.topic-user{
    width: 20%;
    border-right: 1px #f5f5f5 solid;
}
.topic-info{
    padding:20px;
}
.topic-container{
    width: 100%;
}
.table-topic{
    padding:20px;
    padding-top:0px;
    padding-bottom:0px;
}
.table-topic tr:nth-of-type(even){
    background-color: #fff;
}
.table-topic tr{
    background-color: #fff;
}
.table-topic td{
    padding-top: 10px;
    padding-bottom: 10px;
}
.table-topic-header{
    border-bottom: 1px #f5f5f5 solid;
    color:#555555;
}
.table-topic-contenu{
    overflow: scroll;
    word-wrap: break-word;
    width: 875px;
}
.btn-send{
    background-color: #243d54;
    color: #fff;
    transition: background-color 300ms ease-out;
}
.btn-back{
    background-color: #f01f4b;
    color: #fff;
    transition: background-color 300ms ease-out;
}
.btn-view{
    background-color: #65C6BB;
    color: #fff;
    transition: background-color 300ms ease-out;
}
.btn-send:hover{
    background-color: #457098;
}
.btn-back:hover{
    background-color: #CF000F;
}
.btn-view:hover{
    background-color: #36D7B7;
}
.user-signature{
    border-top: 1px #f5f5f5 solid;
    margin-top:10px;
    max-height: 110px;
    overflow: hidden;
}
/*
list membre
===============================================================
*/

.list-membres{
    width: 100%;
    margin-bottom:20px;
}
.list-membres .list-membres-header{
    background-color: #243d54;
    height: 50px;
    color: #7497b8;
}
.list-membres td{
    padding-left:20px;
    height: 60px;
    border-bottom:1pt solid #ebebeb;
}
.list-membres .list-membres-header a{
    color:#f5f5f5;
}
.list-membres tr:nth-of-type(even){
    background-color: #fff;
}
.list-membres tr{
    background-color: #fff;
}
.list-membres tr:hover{
    background-color: #f4f4f4;
}
.list-membres-options {
    color: #243d54;
    transition: color 300ms ease-out;
}
.list-membres-options:hover{
    color: #f01f4b;
    cursor: pointer;
}
/*
profil
===============================================================
*/
#profil{
    margin-left:0px;
    margin-right: 0px;
    background-color: #f5f5f5;
    padding:15px;
    padding-top:20px;
}
#profil-avatar{
    padding-top:30px;
    padding-bottom:30px;
    background-color: #243d54;
}
.profil-menu{
    margin-top:2px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    border-left: 3px #ededed solid;
    background-color: #ededed;
    transition: border-left 300ms ease-out, background-color 300ms ease-out, padding-left 300ms ease-out;
}
.profil-menu:hover{
    padding-left:20px;
    background-color: #dadada;
    border-left: 3px #243d54 solid;
    cursor: pointer;
}

.profil-menu-logout{
    margin-top:2px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    border-left: 3px #ededed solid;
    background-color: #ededed;
    transition: border-left 300ms ease-out, background-color 300ms ease-out, padding-left 300ms ease-out;
}
.profil-menu-logout:hover{
    padding-left:20px;
    background-color: #dadada;
    border-left: 3px #C0392B solid;
    cursor: pointer;
}
.profil-bio-header{
    padding:10px;
    padding-left:30px;
    padding-right:30px;
    background-color: #243d54;
    color:#ffffff;
}
.profil-bio-content{
    padding: 30px;
    padding-top: 5px;
    background-color: #ededed;
    margin-bottom:20px;
}
.profil-message{
    background-color: #ededed;
    margin-bottom:20px;
}
.table-profil-bio td{
    padding-left:20px;
    height: 30px;
    border-bottom:1pt solid #ebebeb;
}
.table-profil-bio tr:nth-of-type(even){
    background-color: #ededed;
}
.table-profil-bio tr{
    background-color: #ededed;
}
#signature-btn{
    position: absolute;
    top:10px;
    right: 30px;
    color:#1e2e3d;
    cursor: pointer;
    transition: color 200ms ease-out;
}
#signature-textarea{
    display: none;
    margin-bottom: 20px;
}
/*
messagerie
===============================================================
*/
#messagerie{
    margin-left:0px;
    margin-right: 0px;
    background-color: #f5f5f5;
}
.messagerie-header{
    height: 40px;
    text-align: center;
    border-bottom: 3px solid #f5f5f5;
    transition: border-bottom 200ms ease-out, background-color 200ms ease-out, padding-bottom 200ms ease-out, font-weight 200ms ease-out;
}
.messagerie-header:hover{
    padding-bottom:5px;
    background-color: #ebebeb;
    border-bottom: 3px solid #243d54;
    cursor: pointer;
    font-weight: bold;
}
#messagerie-left{
    width: 30%;

}
#messagerie-right{
    width: 70%;
}
.messagerie-content{
    height: 600px;
    overflow-y: scroll;
}
.table-chat{

}
.table-chat td{
    padding:5px;
    height: 60px;
}
.table-chat tr:nth-of-type(even){
    background-color: #fff;
}
.table-chat tr{
    background-color: #fff;
}
.table-chat-logo{
    width: 20%;
}
.table-chat-user{
    width: 80%;
}
.table-chat-plus{
    padding-top:5px;
    color:#243d54;  
    float:right;
    display: none;
}
.cursor-pointer{
    cursor: pointer;
}
.messagerie-user-content{
    display:none;
    overflow-y: scroll;
    height: 556px;
    width: 100%;
    padding:10px;
}
#user-x{
    height: 556px;
    padding-top: 30%;
    text-align: center;
}
#user-message{
}
#messagerie-new-header{
    background-color: #f01f4b;
}
#messagerie-new-header:hover{
    background-color: #f14b6e;
    cursor: pointer;
}
#messagerie-refresh-header{
    background-color: #243d54;
}
#messagerie-refresh-header:hover{
    background-color: #335473;
    cursor: pointer;
}
#chat-btn{
    background-color: #243d54;
    padding-bottom:0;
    margin-bottom: 0;
}
#chat-btn:hover{
    background-color: #335473;
    cursor: pointer;
}
.profil-moderation-btn{
    background-color: #243d54;
}
.profil-moderation-btn:hover{
    background-color: #335473;
    cursor: pointer;
}
.inputNonCorrect{
    background-color: red;
}


#chat{
    margin-left:0px;
    margin-right: 0px;
    background-color: #f5f5f5;
    height: 600px;
}
#chat-content{
    overflow-y: scroll;
    height: 540px;
    width: 100%;
    padding:10px;
    padding-bottom: 0px;
}
#chat-data{
}
#chat-users{
    overflow-y: scroll;
    height: 600px;
    width: 100%;
}
#chat-left{
    width: 20%;
    height: 600px;
}

#chat-right{
    width: 80%;
    height: 600px;
}

#chat-users-table tr{
}
#chat-users-table td{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
}

#load-users-interface{
    width: 100%;
    height: 100%;
    padding-left: 25%;
    padding-top: 100%;
}
#load-chat-interface{
    height: 540px;
    width: 100%;
    padding-left: 50%;
    padding-top: 25%;
}